:root {
    --primary-color: rgb(246, 76, 114);
    --white-color: #fff;
    --black-color: #000;
    --spacing: 0.4rem;
    --text-normal-color: #fff;
    /* Home */
    --home--right--block-img-height- : 400px;
    --home--right--block-img-width- : 400px;
    --border-radius-img-home-: 20px;
    --margin-img-home-: -30px;
    --text-color-: #332c38;
}


* {
    box-sizing: border-box;
}

html {
    /* HACK  */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Lato',
    sans-serif;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: uppercase;
}
h1 {
    font-size: 3rem
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 0.8rem;
}
a {
    text-decoration: none ;
    outline: none ;
}
p {
    font-size: 1.6rem;
}
*,
::after,
::before {
    margin: 0;
    padding: 0;
}
body {
    background-color: #332c38;
    margin: 0;
}
/* Button Style */

.btn {
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    min-width: 158px;
    height: 36px;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-normal-color);
    line-height: 1.6rem;
    cursor: pointer;
    background-color: rgba(45, 38, 49);
    border: 2px solid transparent;
}
.btn.btn--contactme {
    transition: transform ease-in-out 0.1s;
}

.btn.btn--contactme:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    color: var(--clr-primary);
    border: 1px solid var(--black-color);
    transform: translateX(-1px);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn-disabled {
    color: #949494;
    cursor: default;
    background: #c3c3c3;
}
.underline {
    margin-left: 0;  
    margin-right: auto;
    width: 8rem;
    height: 0.5rem;
    background: var(--primary-color);      
}
/* ------------TOGGLE MENU BAR */
.toggle {
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: #332c38;
    text-align: right;
    box-sizing: border-box;
    color: var(--primary-color);
    font-size: 3rem;
    display: none;
}
.toggle.active {
    background: #ffeb3b;
     z-index: 2;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    transition: transform 0.5s;
    visibility: hidden;

}
.overlay.active {
    visibility: visible;
    transform: scale(100,100);
    display: block;
     z-index: 1;
     background: rgba(0, 0, 0, 0.95);
}
.menu {
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: hidden;
    z-index: 1;

}
.menu.active {
    visibility:visible;
    z-index: 1;
}
.menu.active ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}
.menu.active ul li {
    list-style: none;
    z-index: 1;

}
.menu.active ul li a {
    position: relative;
    font-size: 3rem;
    line-height: 4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
    margin: 20px 0 ;
    display: block;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
    z-index: 1;
}
.menu.active ul li a:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -10px;
    width: 100%;
    height: 30px;
    background-color: saddlebrown;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
    z-index: 1;
}
.menu.active ul li a:hover:before {
   transform: scaleX(1);
}

/* -----------------End Toggle----------------- */


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));

    }

    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes HeadernotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* ----------Timeline Corner */
.corner-bottom-right {
    width: 300px;
    margin-right: -300px;
    height: 30px;
    border-bottom-right-radius: 30px;
    border-right: 2px dashed #f64c72;
    border-bottom: 2px dashed #f64c72;
}

.corner-top-left {
    width: 300px;
    margin-top: -2px;
    margin-left: -300px;
    height: 30px;
    border-top-left-radius: 30px;
    border-left: 2px dashed #f64c72;
    border-top: 2px dashed #f64c72;
}

.corner-bottom-left {
    width: 300px;
    margin-left: -300px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-left: 2px dashed #f64c72;
    border-bottom: 2px dashed #f64c72;

}

.corner-top-right {
    width: 300px;
    margin-top: -2px;
    margin-right: -300px;
    height: 30px;
    border-top-right-radius: 30px;
    border-right: 2px dashed #f64c72;
    border-top: 2px dashed #f64c72;
}
/* --------End Corner */
/* -----------------------Blog------------------ */
.section-title {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1rem;
}
 
        
/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    background-color: var(--white-color);
    margin: auto;
    z-index: 3;
    animation: growth linear 0.3s;
    /* border-radius: 5px; */
}