:root {
    --primary-color: rgb(246, 76, 114);
    --white-color: #fff;
    --black-color: #000;
    --spacing: 0.4rem;
    --text-normal-color: #fff;
}

* {
    box-sizing: inherit;
}

html {
    /* HACK  */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: uppercase;
}

a {
    text-decoration: none ;
    outline: none ;
}
p {
    font-size: 1.6rem;
}

/* Button Style */

.btn {
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    min-width: 158px;
    height: 36px;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-normal-color);
    line-height: 1.6rem;
    cursor: pointer;
    background-color: rgba(45, 38, 49);
    border: 2px solid transparent;
}
.btn.btn--contactme {
    transition: transform ease-in-out 0.1s;
}

.btn.btn--contactme:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    color: var(--clr-primary);
    border: 1px solid var(--black-color);
    transform: translateX(-1px);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn-disabled {
    color: #949494;
    cursor: default;
    background: #c3c3c3;
}
.underline {
    margin-left: 0;  
    margin-right: auto;
    width: 8rem;
    height: 0.5rem;
    background: var(--primary-color);      
}

/*  Responsive */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__column-2-5 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));

    }

    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes HeadernotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    background-color: var(--white-color);
    margin: auto;
    z-index: 3;
    animation: growth linear 0.3s;
    /* border-radius: 5px; */
}