
/* Home */
#home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#home>nav {
    display: flex;
    justify-content: center;
    height: 64px;   
}

#home>nav>ul {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

#home>nav>ul>li {
    text-align: center;
    width: 20%;  
}

#home>nav>ul>li>a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    transition: color 1s;
    text-transform: uppercase;
}

#home>nav>ul>li>a:hover {
    color: var(--primary-color);
}

#home>div {
    display: flex;
    flex: 1;
}
/* Home-LEFTBLOCK */

#home .home__main {
    display: flex;
    margin: 0 80px;
}
#home .home__main--left--block {
    display: block;
    flex: 6;
    justify-content: center;
    margin: 0 auto 0 auto ;

}
.home__main--left--block__firstintro {
    text-align: left;
}
.home__main--left--block__fullname {
    padding: 12px 0;
    
}
.home__main--left--block__fullname h1 {
    font-size: 6rem;
    color: var(--white-color);
    line-height: 7rem;
    padding: 12px 0;
}

.home__main--left--block__bachelordegree h3{
    line-height: 1.6rem;
    font-weight: 900;
    color: var(--primary-color);
}
.home__main--left--block__button--contactme {
    margin: 46px 0 ;
}
.home__main--left--block__contactlist {
      display: flex;
      width: 100%;
      height: 36px;
}
.contactlist__item {
    display: block;
    width: 100%;
    text-align: center;
  
}
.contactlist__item--link {
     color: white;
     width: 20%;
     text-decoration: none;
     font-size: 1.5rem;
     line-height: 2rem;
     transition: color 1s;
     text-transform: uppercase;
}
.contactlist__item--icon {
    display: block;
    font-size: large;
    flex: 1;
    margin-right: 34px;
    font-size: 3rem;
     width: 24px;
     height: 24px;
     transition: color 1s;

}
.contactlist__item--icon:hover {
    color: var(--primary-color);
}


/* Home-RIGHTBLOCK */
#home .home__main--right--block {
    display: block;
    flex: 4;
    align-items: center;
    margin-top: calc(0 - var(--margin-img-home-));
    float: right;
    padding: 20px;
    
}

#home .home__main--right--block--img {
    border-radius: var(--border-radius-img-home-);
    border: 4px solid #f64c72;
    width: var(--home--right--block-img-height-);
    height: var(--home--right--block-img-width-);
}

#home .home__main--right--block--img--link {
    border-radius: var(--border-radius-img-home-);
    width: var(--home--right--block-img-height-);
    height: var(--home--right--block-img-width-);
    margin-top: var(--margin-img-home-);
    margin-left: var(--margin-img-home-); 
}


/* About */
#about {
    background-color: white;
    display: flex;
    position: relative;
    width: vw !important;
    height: 90vh;
    margin: 0 auto;   
    
}
#about .about__main {
    height: 100%;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 40px;
    bottom: 30px;
    
}
/* About Left-block */
#about .about__main--left--block {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    left: 30px;
    padding: 30px;
}

#about .about__main--left--block--img {
    border-radius: var(--border-radius-img-home-);
    border: 4px solid #f64c72;
    width: var(--home--right--block-img-height-);
    height: var(--home--right--block-img-width-);
}

#about .about__main--left--block--img--link {
    background-color: #0C4592; 
    object-fit: contain;
    border-radius: var(--border-radius-img-home-);
    width: var(--home--right--block-img-height-);
    height: var(--home--right--block-img-width-);
    margin-top: var(--margin-img-home-);
    margin-left: var(--margin-img-home-);

}

/* About Right-Block */
#about .about__main--right--block {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    flex: 2;
    justify-content: center;
    bottom: 10px !important;

}
.about__main--right--block__title {
    display: flex;
    padding: 12px 0;
    align-items: center;
}
.about__main--right--block__title h1 {
  font-size: 3rem;
}


.about__main--right--block__details {
    justify-content: flex-start;
    text-align: left;
}

.about__main--right--block__details p {
    font-size: 1.6rem;
    color: var(--black-color);
    line-height: 2rem;
    margin: 2px 0;
}
.about__main--right--block__details span a {
    color: var(--primary-color);
    text-decoration: underline;
}
.btn--contactme-medium {
    width: 300px !important   ;
}
.about__main--right--block h3 {
    font-weight: 200;
}



#projects {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}
.projects_container {
    display: flex;
    margin: auto;
}
.projects--card {
    position: relative;
    display: block;
    width: 300px !important;
    height: 535px;
    background-color: var(--white-color);
    border: 1px solid white;
    border-radius: 20px;
    /* overflow: hidden; */
    transition: transform ease-in-out 0.1s;
   margin: 20px auto;
}
.projects--card:hover {
    transform: translateX(1px);
}
.projects__titile{
    display: block;
    width: 100%;
    position: relative;
    padding: 60px 0;
    font-size: 1.6rem;
    text-align: center;
   line-height: 4rem;
   color: var(--white-color);
}
.projects__titile--underline {
    position: absolute;
    left: calc(50% - 4rem); 
}

.projects__img {
    height: 224px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-position: top center;
}
.projects__name h2 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(63, 62, 62);   
}
.projects__techused {
    position: relative;
}
.projects__techused h4 {
    min-height: 4.8rem;
    margin: 0;
    padding: 0 1.5rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 2.4rem;
    color: var(--black-color);
    font-weight: 200;
}
.projects__techused--has--border:nth-of-type(2n+1)::after {
    content:"";
    position: absolute;
    top: 100%;
    height: 0.2rem;
    width: 100%;
    background-image: linear-gradient(to left, #00c853, #b2ff59);
}
.projects__techused--has--border:nth-of-type(2n+2)::after {
    position: absolute;
    content: "";
    top: 100%;
    height: 0.2rem;
    width: 100%;
    background-image: linear-gradient(to left, #4facfe, #00f2fe);
}

.projects__description h4 {
    margin: 0;
    padding: 0 1.5rem;
    text-align: justify;
    font-size: 1rem;
    color: var(--black-color);
    font-weight: 300;
    line-height: 2rem;
}
.projects__getlinkhost {
    display: flex;
    width: 100%;
    position: absolute;
    height: 54px;
    bottom: 0;
    border: 1px solid transparent;
    border-top-color: rgba(0,0,0,0.2) ;
    justify-items: center ;
    justify-content: space-between;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}
.projects__getlinkhost--livesite,
.projects__getlinkhost--repolink {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    flex-grow: 1;
    padding: 2px;
    transition: color 1s;
}
.projects__getlinkhost--livesite:hover ,
.projects__getlinkhost--repolink:hover {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    transform:scale(1.1);
    color: var(--white-color) !important;
    border: none;
    z-index: 100;
    border-radius: 25px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.projects__getlinkhost--livesite--icon i {
    display: block;
    position: relative;
    height:15px;
    width: 30px;
    margin-left: 10px;
}

/* Skills */
#skills {
     display: flex;
     flex-direction: column;
     height: auto;
     left: 150px;
     right: 150px;
     background-color: #fff ;
}
#skills p {
    font-size: 1.6rem;
}
.skill-icon {
    display: block;
    height: 105px; /* sáº½ responsive*/
    margin: 3.2rem auto;
    width: 100px ;
    padding: 2rem;
}
.skills-title {
    margin-bottom: 7rem;
    text-align: center;
    line-height: 2.4rem;
    margin-top: 20px;
    margin-bottom:20px;
}
.skills-title__underline {
    margin-left: calc(50% - 4rem);
}
.skills-container {
    margin: auto 80px;
}
.skills-card {
    display: block;
    position: relative;
    border: 7px solid #39333e;
    border-radius: 25px;
    box-shadow: 5px 5px 45px -15px #39333e;
    margin: 20px auto;
    width: 30%;
    transition: transform ease-in-out 0.1s;
    
}

.skills-card:hover {
    transform: translateX(1px);
}
.skill-name {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.1rem;
    color: var(--text-color-);
}
.skills--cards__skill--list {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding: auto 20px;
      margin: 0 auto;
}
.group_name-skills {
    margin: 2.4rem ;
    text-align: center;
}
.skill-row {
    
}
/* --------------------------Timeline-----------------------*/
#timeline {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

#timeline h2 {
    color: white;
}

#timeline div.right-block {
    display: flex;
    width: 600px;
    min-height: 160px;
    border-right: 2px dashed #f64c72;
}

#timeline div.left-block {
    display: flex;
    width: 600px;
    min-height: 120px;
    border-left: 2px dashed #f64c72;
}

#timeline div.content {
    display: flex;
    flex: 1;
    align-items: center;
}

#timeline div.text {
    flex: 1;
    padding: 24px;
    color: white;
}

#timeline div.text h4 {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

#timeline div.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f64c72;
    border-radius: 18px;
    height: 36px;
    width: 36px;
    font-weight: 700;
    color: white;
}

#timeline div.circle-right {
    margin-right: -18px;
}

#timeline div.circle-left {
    margin-left: -18px;
}

#timeline div.corner-bottom-right {
    width: 300px;
    margin-right: -300px;
    height: 32px;
    border-bottom-right-radius: 32px;
    border-right: 2px dashed #f64c72;
    border-bottom: 2px dashed #f64c72;
}

#timeline div.corner-top-left {
    width: 300px;
    margin-top: -2px;
    margin-left: -300px;
    height: 32px;
    border-top-left-radius: 32px;
    border-left: 2px dashed #f64c72;
    border-top: 2px dashed #f64c72;
}

