@media screen and (min-width: 1024px) {
    .blog__center {
        width: 95vw;}
    
}
@media (max-width: 1023px) {
:root {
    --border-radius-img-home-: 15px;
    --home--right--block-img-height-: 300px;
    --home--right--block-img-width-: 300px;
    --margin-img-home-: -20px;
}

.skills--cards__skill--list {
    flex-direction: row;
    flex-wrap: wrap;
}
}
@media (max-width: 900px){
    .home__main--left--block__fullname h1 {
        font-size: 3rem;
        color: var(--white-color);
        line-height: 6rem;
        padding: 12px 0;
    }
}
@media (max-width: 820px) {
    .contactlist__item--icon {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 769px) {

    #home .home__main {
        margin: 0 10px;
        height: fit-content;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    #home>nav>ul {
        display: none;
    }

    #home .home__main {
        flex-direction: column;
    }

    .home__main--left--block__fullname h2 {
        font-size: 2rem;
    }

    .home__main--left--block__firstintro {
        text-align: center;
    }

    #home .home__main--right--block  {
        margin: 0 auto;
        /* padding-top: 40px; */
    }

    .home__main--left--block__contactlist {
        justify-content: center;
        padding-left: 20px;
    }
    #about {
        flex-direction: column-reverse;
        height: fit-content;
        justify-content: space-between;
    }
    #about .about__main--right--block {
        display: flex;
        justify-items: first baseline;
        justify-content:center;
        align-items: center;
        margin: 0 20px;
        padding-left: 5px;
        padding-right: 5px; 
        padding-bottom: 30px;
    }
    #about .about__main--left--block {
        justify-content: center;
        flex: 4;
        justify-items: start;
        padding: 20px 0;
    }
    #about__main--right--block__details p{
        line-height: unset;
    }
    .skills-card {
            height: 80vh;
    }
    #timeline div.right-block ,
    #timeline div.left-block  {
        width: 400px;
    }
    .corner-bottom-right,
    .corner-top-right {
        width: 200px;
        margin-right: -200px ;
    }
    .corner-top-left,
    .corner-bottom-left
     {
         width: 200px;
         margin-left: -200px;
    }
}

@media (max-width: 375px) {
    :root {
        --border-radius-img-home-: 10px;
        --home--right--block-img-height-: 250px !important;
        --home--right--block-img-width-: 250px !important;
        --margin-img-home-: -20px;
    }
    #home .home__main {
        display: flex;
        margin-left: 10px;
    }
    #home .home__main--right--block {
        padding: 25px 5px 25px 15px;
        margin: 0 auto;
    }
    .underline {
        margin-left: 20px;
        margin-right: auto;
        width: 8rem;
        height: 0.25rem;
    }
      #timeline div.right-block,
      #timeline div.left-block {
          width: 300px;
      }

      .corner-bottom-right,
      .corner-top-right {
          width: 150px;
          margin-right: -150px;
      }

      .corner-top-left,
      .corner-bottom-left {
          width: 150px;
          margin-left: -150px;
      }
    
}