

/* PC*/
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
    
}
/* Tablet */
@media (min-width: 760px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
     .html {
         font-size: 50%;
     }
}

/* Moblie */
@media (max-width: 759px) {
    .hide-on-tablet {
        display: none;
    }
     .html {
         font-size: 40%;
     }

}